body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color:maroon;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    20%{    color: blue; }
    50%{    color: teal; }
    75%{    color:yellow;  }
    100%{   color: #000;    }
}
